.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-text-color:#212121;
  --secondary-text-color:#757575;
  --accent-text-color:#2196F3;
  --white-text-color:#FFFFFF ;
  --icon-main-color:#AFB1B8;
  --card-gap:30px;
  --hover-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.job {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .job {
    display: none;
  }
}

.job__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.job__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.job-thumb {
  position: relative;
}

.job-thumb__img {
  display: block;
}

.job-thumb__title {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: #F5F4FA;
}
@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .team__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.team__title {
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .team__title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team__list {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.14), 0 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.14), 0 1px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .team__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.team__img {
  display: block;
}
@media screen and (max-width: 1199px) {
  .team__img {
    width: 100%;
  }
}

.team-block {
  padding-top: 30px;
  background-color: var(--white-text-color);
}
@media screen and (min-width: 480px) {
  .team-block {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team-block {
    padding-bottom: 30px;
  }
}

.team-block__person {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-block__job {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex;
      -ms-flex-pack: flex;
          justify-content: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icon-main-color);
  border-radius: 50%;
  -webkit-transition: background-color var(--hover-duration) var(--transition-function), color var(--hover-duration) var(--transition-function);
  transition: background-color var(--hover-duration) var(--transition-function), color var(--hover-duration) var(--transition-function);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-text-color);
}

.social-link__icon {
  fill: currentColor;
}

.priority {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .priority {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .priority__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .priority__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .priority__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.priopity-link {
  margin-bottom: 30px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 480px) {
  .priopity-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 450px;
    height: 120px;
  }
}
@media screen and (min-width: 768px) {
  .priopity-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .priopity-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 270px;
    height: 120px;
  }
}

.priority__title {
  margin-bottom: 10px;
  font-size: 14px;
}
.list .priority__title {
  font-weight: 700;
  line-height: 1.1;
}
@media screen and (min-width: 480px) {
  .priority__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .priority__title {
    text-align: left;
  }
}

.priority__descr {
  margin-bottom: 30px;
}
.list .priority__descr {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 480px) {
  .priority__descr {
    width: 450px;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .priority__descr {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .priority__descr {
    width: 270px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-text-color);
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}

.header-border {
  border-bottom: 1px solid #ECECEC;
}

.header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.38;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-header {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-first {
  color: var(--accent-text-color);
}

.logo-second {
  color: #000000;
}

.logo-third {
  color: var(--white-text-color);
}

/*page navigation*/
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.site-nav-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  -webkit-transition: color var(--hover-duration) var(--transition-function);
  transition: color var(--hover-duration) var(--transition-function);
}

.site-nav-link.current {
  color: var(--accent-text-color);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.site-nav .item + .item {
  margin-left: 50px;
}

.auth-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color var(--hover-duration) var(--transition-function);
    transition: color var(--hover-duration) var(--transition-function);
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.auth-nav .link:hover, .auth-nav .link:focus {
  color: var(--accent-text-color);
}

.auth-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-item {
    font-size: 12px;
  }
  .auth-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.auth-icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-icon:hover,
.auth-icon:focus {
  fill: var(--accent-text-color);
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .mail {
    margin-right: 50px;
  }
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
}

.close-mobile {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: color var(--hover-duration) var(--transition-function);
  transition: color var(--hover-duration) var(--transition-function);
}

.close-mobile:hover,
.close-mobile:focus {
  color: var(--accent-text-color);
}

.close-mobile-icon {
  fill: currentColor;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  margin: 0;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (max-width: 1199px) {
  .menu-container {
    overflow: hidden;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/*
  .menu-container.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}

.menu-container.is-hidden {
  transform: translate(0%, -50%) scale(0.5);

}*/
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  font-weight: 500px;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-link {
  display: block;
  color: var(--main-text-color);
  -webkit-transition: color var(--hover-duration) var(--transition-function);
  transition: color var(--hover-duration) var(--transition-function);
}
.mobile-link.current {
  color: var(--accent-text-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__item:hover, .mobile-menu__item:focus {
  color: var(--accent-text-color);
}

.mobile-thumb {
  margin-top: auto;
}

.mobile-contact {
  margin-bottom: 64px;
}

.contact-link {
  display: block;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0, 2em;
  color: var(---secondary-text-color);
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--hover-duration) var(--transition-function);
  transition: color var(--hover-duration) var(--transition-function);
}

.mobile-social .link:hover, .mobile-social .link:focus {
  color: var(--accent-text-color);
}

.mobile-social__items {
  color: var(--accent-text-color);
}
.mobile-social__items:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.social-networks {
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-text-color);
}

/* section clients*/
@media screen and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients-link {
  width: 210px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  color: var(--icon-main-color);
  -webkit-transition: color var(--hover-duration) var(--transition-function), border var(--hover-duration) var(--transition-function);
  transition: color var(--hover-duration) var(--transition-function), border var(--hover-duration) var(--transition-function);
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-text-color);
  color: var(--accent-text-color);
}

.idea {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #212121;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/idea/imgsm@1x.jpeg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/idea/imgsm@1x.jpeg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .idea {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/idea/imgsm@2x.jpeg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/idea/imgsm@2x.jpeg);
  }
}
@media screen and (min-width: 481px) {
  .idea {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/idea/imgm@1x.jpeg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/idea/imgm@1x.jpeg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .idea {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/idea/imgm@2x.jpeg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/idea/imgm@2x.jpeg);
  }
}
@media screen and (min-width: 769px) {
  .idea {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/idea/idea-hero.jpeg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/idea/idea-hero.jpeg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .idea {
    ackground-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/idea/imgl@2x.jpeg);
  }
}

.idea-title {
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-text-color);
}

.idea-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 216px;
  height: 50px;
  border-color: #2F303A;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  border: none;
  /* transition-property: background-color;
   transition-duration: var(--hover-duration);
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   */
  -webkit-transition: background-color var(--hover-duration) var(--transition-function);
  transition: background-color var(--hover-duration) var(--transition-function);
}

.btn {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
}

.idea-btn:hover, .idea-btn:focus {
  background-color: #188CE8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 700ms linear;
  transition: -webkit-transform 700ms linear;
  transition: transform 700ms linear;
  transition: transform 700ms linear, -webkit-transform 700ms linear;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-text-color);
  border-radius: 4px;
  /*animation: slide-to-bottom 500ms easy-out 200ms 2 both;*/
}
@media screen and (min-width: 1200px) {
  .modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 700ms linear;
    transition: -webkit-transform 700ms linear;
    transition: transform 700ms linear;
    transition: transform 700ms linear, -webkit-transform 700ms linear;
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white-text-color);
    border-radius: 4px;
  }
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: color var(--hover-duration) var(--transition-function);
  transition: color var(--hover-duration) var(--transition-function);
}

.close-modal:hover,
.close-modal:focus {
  color: var(--accent-text-color);
}

.close-modal-icon {
  fill: currentColor;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: opacity 1s, visibility 0s 1s;
  transition: opacity 1s, visibility 0s 1s;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(0%, -50%) scale(0.5);
          transform: translate(0%, -50%) scale(0.5);
}

/*form modal*/
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-text-color);
}

.modal-form {
  max-width: 448px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-thumb {
  margin-bottom: 10px;
}

.form-thumb .form-field:last-child {
  margin-bottom: 28px;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--hover-duration) var(--transition-function);
  transition: border-color var(--hover-duration) var(--transition-function);
}

.form-field:focus-within > .form-textarea {
  border: 1px solid var(--accent-text-color);
  outline: transparent;
}

.form-field:focus-within > .form-input {
  border: 1px solid var(--accent-text-color);
  outline: transparent;
}

.form-input:focus + .form-icon {
  fill: var(--accent-text-color);
}

.form-tumb {
  position: relative;
}

.form-span {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

.form-icon {
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
}

.form-textarea {
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  text-align: left;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

/*
.agreement-thumb {
    margin-bottom: 40px;
}
*/
.form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
  margin-bottom: 40px;
  height: 24px;
}

.form-agreement-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--secondary-text-color);
}

.form-agreement-link {
  color: var(--accent-text-color);
}

.checkbox {
  width: 16px;
  height: 15px;
  cursor: pointer;
  -webkit-transition: opacity var(--hover-duration) var(--transition-function);
  transition: opacity var(--hover-duration) var(--transition-function);
}

.check-sign .unchecked {
  opacity: 1;
}

.check-sign .checked {
  opacity: 0;
}

.checkbox:checked + .check-sign .unchecked {
  opacity: 0;
}

.checkbox:checked + .check-sign .checked {
  opacity: 1;
}

/*
.checkbox:checked {
    background-color:var(--accent-text-color);
    border-color: transparent;*/
.modal-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-color: transparent;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
  -webkit-transition: background-color var(--hover-duration) var(--transition-function);
  transition: background-color var(--hover-duration) var(--transition-function);
}

.modal-bt:hover,
.modal-bt:focus {
  background-color: #188CE8;
}

/*
animation
@keyframes slide-to-bottom {

    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
Animation*/
/* footer contacts*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #212121;
}

@media screen and (max-width: 1199px) {
  .footer-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .logo-footer {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    margin-bottom: 20px;
    margin-right: 156px;
  }
}

@media screen and (max-width: 767px) {
  .adress-thumb {
    margin-bottom: 60px;
  }
}

.adress {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  -webkit-transition: color var(--hover-duration) var(--transition-function);
  transition: color var(--hover-duration) var(--transition-function);
}

.adress-post {
  color: var(--white-text-color);
}

.contact {
  color: rgba(255, 255, 255, 0.6);
}

.adress .link:hover, .adress .link:focus {
  color: var(--accent-text-color);
}

.adress-post, .contact {
  display: block;
}

.adress-item:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .adress-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social-container {
    margin-right: 93px;
    width: 206px;
    height: 80px;
  }
}

.social-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--hover-duration) var(--transition-function);
  transition: background-color var(--hover-duration) var(--transition-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-text-color);
}

/* footer form*/
.footer-subscribe-container {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1999px) {
  .footer-subscribe-container {
    margin: 0 auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe-container {
    width: 570px;
    height: 86px;
  }
}

.subscribe-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: var(--white-text-color);
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.footer-form-field {
  display: block;
  width: 100%;
  height: 46px;
}
@media screen and (max-width: 1199px) {
  .footer-form-field {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 358px;
    height: 50px;
  }
}

.footer-form-input {
  padding-left: 16px;
  width: 100%;
  height: 100%;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: transparent;
}

.footer-form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 28px;
  padding-left: 28px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15);
          box-shadow: rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--hover-duration) var(--transition-function), -webkit-box-shadow var(--hover-duration) var(--transition-function);
  transition: background-color var(--hover-duration) var(--transition-function), -webkit-box-shadow var(--hover-duration) var(--transition-function);
  transition: background-color var(--hover-duration) var(--transition-function), box-shadow var(--hover-duration) var(--transition-function);
  transition: background-color var(--hover-duration) var(--transition-function), box-shadow var(--hover-duration) var(--transition-function), -webkit-box-shadow var(--hover-duration) var(--transition-function);
}
@media screen and (max-width: 1199px) {
  .subscribe-btn {
    margin: auto;
  }
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #188CE8;
}

.subscribe-text {
  margin-right: 10px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
}

@media screen and (min-width: 768px) {
  .footer-thumb-decor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-thumb-decor {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-thumb {
    margin-left: 61px;
    margin-right: 165px;
  }
}/*# sourceMappingURL=main.css.map */