/* section clients*/
.clients {
    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }


    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
   

.clients-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    text-align:center;

    @media screen and (min-width: 1200px) {
    
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
        text-align:center;
    }
}

.clients-list {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }
}

.clients-link {
    width: 210px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icon-main-color);
    border-radius: 4px;
    color: var(--icon-main-color);

    transition: color var(--hover-duration) var(--transition-function),
                border var(--hover-duration) var(--transition-function);
    
    @media screen and (min-width: 768px) {
        
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.clients-icon {
    fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-text-color);
    color:var(--accent-text-color);
}
