.auth-nav {

    display: none;

    @media screen and (min-width: 768px) {
       
        display: block;
        margin-left: auto;
        padding-top: 21px;
        padding-bottom: 21px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;

    transition: color var(--hover-duration) var(--transition-function);

    }

    @media screen and (min-width: 1200px) {
       
        display:flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        
    
    }
}

 .auth-nav .link:hover, .auth-nav .link:focus {
   color: var(--accent-text-color) ;
 }
 
.auth-item {
    display: flex;

    align-items: baseline; 

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        
        font-size: 12px;

    &:not(:last-child) {
        margin-bottom: 10px;
        
    }
   
}

    @media screen and (min-width: 1200px) {
    
    justify-content: center;
    
    }
   
}


.auth-icon {
    
    margin-right: 10px;
    fill:currentColor;
}

.auth-icon:hover,
.auth-icon:focus {
    fill: var(--accent-text-color);
}

.mail {

    display: flex;
    align-items: center;
    color: var(--secondary-text-color);

    @media screen and (min-width: 1200px) {
       
    margin-right: 50px;
    
    
    }
    
        
}


.tel {
    display: flex;
    align-items: center;
 
    color:var(--secondary-text-color);


}