//header
.header {
    display:flex;
    align-items: center;
    
    background-color: var(--white-text-color);

    @media screen and (max-width: 767px) {
        display:none;
    }
}
.header-border {
    border-bottom: 1px solid #ECECEC;   
}
.header-conteiner {
    display:flex;
    align-items: center;

}
