.idea {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
    background-color: #212121; 
    

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    //Mobile screen
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/idea/imgsm@1x.jpeg);

    //Mobile screen retina
    @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/idea/imgsm@2x.jpeg);
    
    }

    //Tablet screen
    @media screen and (min-width: 481px) {

    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/idea/imgm@1x.jpeg);
    
    
    //Tablet screen retina

    @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/idea/imgm@2x.jpeg);
    
        }

    }

     //Desktop
     @media screen and (min-width: 769px) {

        background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/idea/idea-hero.jpeg);
        
        
        //Desktop screen retina
    
    @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/idea/imgl@2x.jpeg);
        
        }
    
    }
}

.idea-title {
    
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    
    color: var(--white-text-color);

}