.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    display:flex;
    flex-direction: column;

    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    margin: 0;

    font-style: medium;
    font-weight: 500px;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;

    color: #212121;
    background-color: ;
  }
  
  .mobile-menu .link {
    display: block;
    color: #fff;
   
  }

  .site-nav {
    display:flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em
}


.site-nav-link {
    display:block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color:var(--main-text-color);

    transition: color var(--hover-duration) var(--transition-function);
}
.site-nav-link.current {
    color:var(--accent-text-color)
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-text-color);
}
.site-nav-link.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-text-color);
}

.site-nav .item+.item {
    margin-left: 50px;
}

