/* modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);

}

.modal {

    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 700ms linear;
    
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white-text-color);
    border-radius: 4px;
    /*animation: slide-to-bottom 500ms easy-out 200ms 2 both;*/ 
@media screen and (min-width:1200px) {
    

    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 700ms linear;
    
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white-text-color);
    border-radius: 4px;
    }
}

.close-modal {      
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 0;

    display:flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: color var(--hover-duration) var(--transition-function);
        
        
}

.close-modal:hover,
.close-modal:focus {
    color: var(--accent-text-color);
}
.close-modal-icon {
    fill:currentColor;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}

.backdrop.is-hidden .modal {
  transform: translate(0%, -50%) scale(0.5);

}

/*form modal*/
.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--main-text-color);
}

.modal-form{
    
    max-width:448px;
}

.form-field {
  
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.form-thumb {
    margin-bottom: 10px;
}
.form-thumb .form-field:last-child {
    margin-bottom: 28px;
}

.form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    
    transition: border-color var(--hover-duration) var(--transition-function);
}

.form-field:focus-within > .form-textarea {
    border: 1px solid var(--accent-text-color);
    outline: transparent;
}

.form-field:focus-within > .form-input {
    border: 1px solid var(--accent-text-color);
    outline: transparent;
}
.form-input:focus + .form-icon {
    fill: var(--accent-text-color);
}


.form-tumb {
    position: relative;
}
.form-span {
    display: inline-block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    
    color: var(--secondary-text-color);
}

.form-icon {
    position: absolute;
    content:'';
    display: inline-block;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
  
}

.form-textarea {
    resize: none;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.17;
    text-align: left;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    color: rgba(117, 117, 117, 0.5);
}
/*
.agreement-thumb {
    margin-bottom: 40px;
}
*/
.form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 40px;
    height: 24px;
}
.form-agreement-text {
    user-select: none;
    color:var(--secondary-text-color)
}
.form-agreement-link {
    color:var(--accent-text-color);
}
.checkbox {
   
    width: 16px;
    height: 15px;
    cursor: pointer;

    transition: opacity var(--hover-duration) var(--transition-function);
    
}

.check-sign .unchecked {
    opacity: 1;
}
.check-sign .checked {
    opacity: 0;
}
.checkbox:checked + .check-sign .unchecked {
    opacity: 0;
}
.checkbox:checked + .check-sign .checked {
    opacity: 1;
}


/*
.checkbox:checked {
    background-color:var(--accent-text-color);
    border-color: transparent;*/

.modal-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-color: transparent;
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: var(--white-text-color);
    background-color: var(--accent-text-color);

    transition: background-color var(--hover-duration) var(--transition-function);
}

.modal-bt:hover,
.modal-bt:focus {
    background-color: #188CE8;
}
/*
animation
@keyframes slide-to-bottom {

    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
Animation*/